.header {
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgba(255,255,255,0.75);
    background-color: #24292e;
}

.octicon {
    fill: currentColor;
}

.searchBar {
    margin-top: 60px;
    border-top: 1px solid #e1e4e8;
    margin-bottom: 30px;
    text-align: center;
}

.search-bar {
    width: 40%;
    height: 25px;
    border: 1px solid #e1e4e8;
    border-radius: 5px;
    padding: 1px;
    margin-top: 5%;
    text-align: center;
    font-size: 1.5em;
}

.searchButton {
    height: 25px;
}
.text-in-search {
    margin-bottom: 20px;
}

.numberOfRepos {
    font-size: 20px;
    font-weight: 600;
}

.repo-title {
    color: blue;
    font-size: 15px;
    font-weight: bold;
}

.each-repo {
    margin-top: 10px;
    border-top: 1px solid #e1e4e8;
}

.repo-description {
    color: #586069;
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 4px;
}

.last-updated {
    font-size: 12px;
    color:#586069;

}

.star {
    padding-top: 4px;
    padding-right: 4px;
}